$space: 8px !default;

$space-directions: "" "-top" "-right" "-bottom" "-left" !default;

$space-sizes:   ( "" $space ),
                ( "-small" $space / 2 ),
                ( "-micro" $space / 4 ),
                ( "-large" $space * 2 ),
                ( "-big" $space * 4 ) !default;
